$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

$breadcrumb-margin-bottom: 20px;
$primary:#007bff !default;
$body-bg: #f6f6f6;

$table-border-color: #e6e6e6;
$table-cell-padding: 0.55rem;

$card-border-color: #e6e6e6;
$card-spacer-x: .7rem;
$card-spacer-y: .6rem;